{% extends "template.html" %}

{% block content %}
<div class="div-head">
<h1>Sample Website</h1>
<p>This is a website I made to practice</p>
<br></br>
<p>aaa
Writing is a form of expression, and neat handwriting is important when
writing anything that will be read by someone else. We are often judged by the
quality of our handwriting, and when our penmanship is poor we appear to be
lazy or incompetent. Good handwriting involves forming letters properly and
spacing the letters carefully within words. Letters should not be squeezed
together, but they should not be spread far apart, either. It is also important to
form letters the correct height. Capital letters should be larger than lower-case
letters. Words need to be separated so they do not run together. When a person
develops good handwriting, he or she can be proud of creating quality work
</p>

</div>
{% endblock content %}

