.navbar {
  background-color: #1c33b0;


}

.nav-item {
  font-size: 17px;
}
.nav-link{
  color: black;
}

.navbar-brand{
  font-size:22px;

}



h1{
  text-align:center;
  color: black;

}

.div-head {
  text-align: center;
  margin: 0 5%;

}

.subheading {
  font-size:10px;
  color: grey;

}

p {
  font-size: 20px;

}